.AnswerInput {
    display: block;
    width: 380px;
    height: 52px;

    margin-top: 7px;
    margin-bottom: 30px;
    padding-left: 16px;

    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
}

.AnswerInput:focus {
   outline: 2px solid #0880AE;
}

@media screen and (max-width: 400px) {
    .AnswerInput {
      width: 340px;
    }  

  }